[package]
name = "texture-renderer"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = "2"
napi-derive = "2"
image = "0.24"

[build-dependencies]
napi-build = "2"
